@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import "tailwindcss";
@import "flowbite/dist/flowbite.css";

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  overflow: hidden;
}

/* Main scroll container */
.snap-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar */
.snap-container::-webkit-scrollbar {
  display: none;
}
.snap-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

.snap-section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}
