@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "tailwindcss";
@import "flowbite/dist/flowbite.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Remove any Lenis-specific styles if not using it */